:root{
    --color-green: #76bc21;
    --color-grey: #4b8b00;
    --color-text:#7a7a7a;
    --color-text-black:#262626;

    --background-black-opacity: rgb(0, 0, 0, 50%);
    --background-grey: rgb(225, 225, 225, .3);
}

.header {
    position: relative;
    bottom: 80px;
    height: 110vh;
    clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 88%, 0 0);
}
.header__background{
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%) contrast(90%) saturate(200%);

}
.header__background-wrapper{
    position: absolute;
    height: inherit;
    width: 100%;

    background-color: rgd(0, 0, 0, 50%);

    z-index: 1;
}
.header-top{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: rgb(0 ,0, 0, 100%);

    color: #ffffff;
    z-index: 3;
}
.header-top a.link{
    color: #fff;
}

.logo{
    width: 350px;
    font-size: 36px;
}
.menu-element{
    margin-right: 70px;
    font-size: 22px;


}
.menu-element:last-child{
    margin-right: 0;
}
.menu-element a.link:hover{
    color: var(--color-green);

}
.menu-element__link.home svg{
    width: 24px;
    height: 24px;
    color: var(--color-green);
}
.switcher-container{
    width: 250px;
}
.switcher-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    height: 38px;
    width: 150px;
    padding: 0 10px;

    background:var(--color-green);
    border-radius: 20px;
    opacity: 0.9;

    transition: opacity 0.25s ease;
    cursor: pointer;
}
.switcher-wrapper:hover{
    opacity: 1;
}
.lang-placeholder{
    content: "";
    width: 45px;
    height: 30px;
    background: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    transition: left 0.25s ease-in-out;
}
.switcher-wrapper input[type="radio"]:nth-of-type(1):checked ~ .lang-placeholder{
    left: 9px;
}
.switcher-wrapper input[type="radio"]:nth-of-type(2):checked ~ .lang-placeholder{
    left: 53px;
}
.switcher-wrapper input[type="radio"]:nth-of-type(3):checked ~ .lang-placeholder{
    left: 98px;
}
.switcher-wrapper input[type="radio"]{
    display: none;
}

.switcher-wrapper .switcher{
    position: relative;
    flex: 1 1 calc(100% / 3);
    text-align: center;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    transition: color 0.25s ease-in-out;
}
.switcher span:first-child{
    color: #fff;
}
.switcher-wrapper input[type="radio"]:checked + .switcher{
    color:var(--color-green);
}

.header-center{
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 170ch;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.header-center__wrapper{
    width: 100%;
    background: var(--background-black-opacity);
    text-align: center;
    padding: 20px 0;
}
.name{
    font-size: 58px;
    line-height: 64px;
}
.description{
    font-size: 22px;
    line-height:1.5em;
    width: 792px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    animation: cursor 0.5s 9,print-text 4s steps(78);
}
@keyframes cursor{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: #fff;
    }
    100%{
        border-color: transparent;
    }
}
@keyframes print-text{
    from{
        width: 0%;
    }
}
.about-me{
    display: flex;
    allign-items: center;
    padding-bottom: 60px;
}
.about-me .left{
    flex: 1 1 40%;
    padding-right: 40px;

}
.about-me .right{
    flex: 1 1 60%;
    padding-left: 20px;

}
.about-me__image{
    display: block;
    max-width: 350px;
    margin-left: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 20px var(--background-black-opacity));
}
.about-me__title{
    font-size: 36px;
    margin-bottom: 20px;
}
.about-me__description{
    font-size: 20px;
    color:  var(--color-text);
    margin-bottom: 15px;
    margin-right: 20px;
}
ul.about-me__extra{
    color: var(--color-text);
    font-size: 20px;
    margin-top: 20px;
}
.about-me__extra-element{
    display: flex;
    margin-bottom: 10px;
    allign-items: center;
}
.about-me__extra-element:last-of-type{
    margin-bottom: 0;

}
.about-me__extra-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.about-me__extra-icon svg{
    color: var(--color-green);
}

/* Section achievements*/
.achievements{
    flex-direction: column;
    position: relative;
    padding:40px 0;
}
.achievements:before,
.achievements:after{
    content: "";
    position: absolute;

    border:80px solid transparent;

}
.achievements:before{
    border-top:30px solid #fff;
    top: 0;
}
.achievements:after{
    border-top:40px solid var(--background-grey);
    bottom: -120px;
}


/* Section skills*/
.skills{
    padding: 60px 0 40px;
}

.second-title{
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.second-title:after{

    content: "";
    display: inline-block;
    width: 45px;
    height: 2px;
    bottom: -7px;

    background: var(--color-green);
    position: absolute;
    left: calc(50% - 45px / 2 );
}
a.link{
    color: var(--color-green);
    text-decoration: none;
    transition: opacity 0.25s ease;
}
a.link:hover{
    opacity: 0.7;
}
.block-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: 800;
    color: var(--color-text-black);
}
.block{
    display: block;

}
.section-grey{
    background: var(--background-grey);
}
/*Slider*/
.slider{
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}
.slider__wrapper{
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    min-width: 100%;
}
.slider__link{
    flex: 1 1 33%;
}
.slider__image{
    max-width: 250px;
    width: 100%;

}
.slider__input{
    display: none;
}
.slider__controls{
    display: flex;
    positon: absolute;
    bottom: 20px;
    allign-items: center;
    justify-content: space-between;
    gap: 20px;
}
.slider__controls-element{
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: opacity 0.25s ease;
    border-radius: 50%;
    border: 1px solid #000;
}
.slider__controls-element:hover{
    opacity: 0.7;
}