:root{
    --color-green: #76bc21;
    --color-grey: #9e9e9e;
    --color-light-grey: #e9e9e9;
    --color-text:#7a7a7a;
    --color-text-black:#262626;

    --background-grey: rgb(225, 225, 225, .3);
    --background-light-black-opacity: rgb(0, 0, 0, 30%);
    --background-black-opacity: rgb(0, 0, 0, 50%);
}


.header {
    position: relative;
    bottom: 80px;
    height: 110vh;
    clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 0);
}
.header__background{
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%) contrast(90%) saturate(200%);

}
.header__background-wrapper{
    position: absolute;
    height: inherit;
    width: 100%;

    background-color: rgd(0, 0, 0, 50%);

    z-index: 1;
}
#hamburger, .menu-hamburger{
    display: none;
}
.header-top{
    position: sticky;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: rgb(0 ,0, 0, 100%);

    color: #ffffff;
    z-index: 3;
}
.header-top a.link{
    color: #fff;
}
.header-center{
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 170ch;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.header-center__wrapper{
    width: 100%;
    background: var(--background-black-opacity);
    text-align: center;
    padding: 20px 0;
}
.logo{
    width: 350px;
    font-size: 36px;
}
.menu-element{
    margin-right: 70px;
    font-size: 22px;


}
.menu-element:last-child{
    margin-right: 0;
}
.menu-element a.link.active, .menu-element a.link:hover{
    color: var(--color-green);

}
.menu-element__link.home svg{
    width: 24px;
    height: 24px;
    color: var(--color-green);
}
.switcher-container{
    width: 250px;
}
.switcher-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    height: 38px;
    width: 150px;
    padding: 0 10px;

    background:var(--color-green);
    border-radius: 20px;
    opacity: 0.9;
    transition: opacity 0.25s ease;
    cursor: pointer;

}
.switcher-wrapper:hover{
    opacity: 1;
}

.switcher-wrapper input[type="radio"]{
    display: none;
}

.switcher-wrapper .switcher{

    position: relative;
    flex: 1 1 calc(100% / 3);
    text-align: center;

    z-index: 2;
    cursor: pointer;
    color: #fff;
    transition: color 0.25s ease-in-out;
}
.switcher span:first-child{
    color: #fff;
}
.switcher-wrapper input[type="radio"]:checked + .switcher{
    color:var(--color-green);
}
.lang-placeholder{
    display: none;
    width: 45px;
    height: 30px;
    background: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    transition: left 0.25s ease-in-out;
}
.switcher-wrapper input[type="radio"]:nth-of-type(1):checked ~ .lang-placeholder{
    left: 9px;
}
.switcher-wrapper input[type="radio"]:nth-of-type(2):checked ~ .lang-placeholder{
    left: 53px;
}
.switcher-wrapper input[type="radio"]:nth-of-type(3):checked ~ .lang-placeholder{
    left: 98px;
}

.name{
    font-size: 58px;
    line-height: 64px;
}
.description{
    font-size: 22px;
    line-height:1.5em;
    width: 792px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    animation: cursor 0.5s 9,print-text 4s steps(78);
}
@keyframes cursor{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: #fff;
    }
    100%{
        border-color: transparent;
    }
}
@keyframes print-text{
    from{
        width: 0%;
    }
}
.about-me{
    display: flex;
    allign-items: center;
    padding-bottom: 60px;
}
.about-me .left{
    flex: 1 1 40%;
    padding-right: 40px;

}
.about-me .right{
    flex: 1 1 60%;
    padding-left: 20px;

}
.about-me__image{
    display: block;
    max-width: 350px;
    margin-left: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 20px var(--background-black-opacity));
}
.about-me__title{
    font-size: 36px;
    margin-bottom: 20px;
}
.about-me__description{
    font-size: 20px;
    color:  var(--color-text);
    margin-bottom: 15px;
    margin-right: 20px;
}
ul.about-me__extra{
    color: var(--color-text);
    font-size: 20px;
    margin-top: 20px;
}
.about-me__extra-element{
    display: flex;
    margin-bottom: 10px;
    allign-items: center;
}
.about-me__extra-element:last-of-type{
    margin-bottom: 0;

}
.about-me__extra-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.about-me__extra-icon svg{
    color: var(--color-green);
}

/* Section achievements*/
.achievements{
    flex-direction: column;
    position: relative;
    padding: 40px 0 80px;
}

.achievements:before,
.achievements:after{
    content: "";
    position: absolute;

    border:80px solid transparent;

}
.achievements:before{
    border-top:30px solid #fff;
    top: 0;
}
.achievements:after{
    border-top:40px solid var(--background-grey);
    bottom: -120px;
}
.achievements-list__view:first-of-type{
    animation: autoplay 8s infinite;
}
/*
@keyframes autoplay{

    0% {
        margin-left: 0;
    }
    30% {
        margin-left:-100%;
    }
    50% {
        margin-left:-100%;
    }
    65% {
        margin-left: -200%;
    }
    85% {
        margin-left: -200%;
    }
    90% {
        margin-left:-100%;
    }
    100% {
        margin-left:0;
    }
}
*/
/* Section skills*/
.skills{
    padding: 60px 0 40px;
}
.skills-filters{
    gap:20px;
    font-size: 18px;
    margin-bottom: 40px;
}
.skill-filter{
cursor: pointer;
}
.skill-filter:hover{
    color: var(--color-green);
    transition:color 0.25s ease;
}
.skills-wrapper{
    display:none;
    width: 80%;
    margin: 0 auto;
}
.skills-wrapper .left{
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    padding-right: 20px;
    max-width: 70%;
}
.skills-list__row{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.skills-list__title{
    font-size: 28px;
    margin-left:auto;

}
.skills-list__element{
    display: flex;
    allign-items: center;
    flex: 1 1 31%;
    max-width: 31%;
    min-height: 80px;
    padding:10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.3);
    border-radius: 3px;
    transition: all 0.1s ease;
    cursor: pointer;
}
.skills-list__element:hover{
    outline: 1px solid var(--color-green);
    transform: scale(105%);
}
.skills-list__element: > *:first-child{
    flex: 1 1 28%;
}
.skills-list__element: > *:last-child{
    flex: 1 1 72%;
    padding-left: 40px;
    font-size: 24px;
}
.skills-wrapper .skill-card{
    flex: 1 1 30%;
    padding: 0 0 20px 20px;

}
.skills-wrapper .right{

    border-left: 1px solid var(--color-grey);
}

.s2{
    display: none;
}

.skill-card__title {
    font-size: 28px;
    display: flex;
    allign-items: center;
    margin-bottom: 10px;
}
.skill-card__image{
    flex: 1 1 30%;
    height: 100px;
}
.skill-card__name{
    flex: 1 1 70%;
    font-size: 24px;
    padding-left: 20px;
}
.skill-card__progress{
    display: flex;
    flex-direction: column;
    allign-items: flex-end;

    margin-bottom: 20px;
}
.skill-card__progress-percent{
    font-size: 18px;
    color: var(--color-text);
}
/*
.skill-card__progress-bar{
    position: relative;
    background: var(--color-light-grey);
    border-radius: 20px;
    width: 100%;
    height: 8px;
}
.skill-card__progress-bar span{
    display: block;
    width:85%;
    background: var(--color-green);
    height: inherit;
}
*/
.skill-card__description{
    text-align: justify;
    color: var(--color-text);
}
.skills-card__label{
    display: block;
    padding: 10px 0px 30px 10px;
    height: 70px;
    width: 70px;
}
.skills-card__label-text{
    font-size: 24px;
    color: var(--color-green);
}
input[name="skills-filter-radio"]{
    display: none;
}
input[name="skill-filter-radio"]{
    display: none;
}

input[name="skills-filter-radio"]:nth-of-type(1):checked ~ .skills-filters .skill-filter:nth-of-type(1),
input[name="skills-filter-radio"]:nth-of-type(2):checked ~ .skills-filters .skill-filter:nth-of-type(2),
input[name="skills-filter-radio"]:nth-of-type(3):checked ~ .skills-filters .skill-filter:nth-of-type(3),
input[name="skills-filter-radio"]:nth-of-type(4):checked ~ .skills-filters .skill-filter:nth-of-type(4),
input[name="skills-filter-radio"]:nth-of-type(5):checked ~ .skills-filters .skill-filter:nth-of-type(5){
    color: var(--color-green);
}

input[name="skills-filter-radio"]:nth-of-type(1):checked ~ .skills-wrapper:nth-of-type(2),
input[name="skills-filter-radio"]:nth-of-type(2):checked ~ .skills-wrapper:nth-of-type(3),
input[name="skills-filter-radio"]:nth-of-type(3):checked ~ .skills-wrapper:nth-of-type(4),
input[name="skills-filter-radio"]:nth-of-type(4):checked ~ .skills-wrapper:nth-of-type(5),
input[name="skills-filter-radio"]:nth-of-type(5):checked ~ .skills-wrapper:nth-of-type(6){
    display: flex;
}

input[name="skill-filter-radio"]:nth-of-type(1):checked ~  .s2:nth-of-type(2),
input[name="skill-filter-radio"]:nth-of-type(2):checked ~  .s2:nth-of-type(3),
input[name="skill-filter-radio"]:nth-of-type(3):checked ~  .s2:nth-of-type(4),
input[name="skill-filter-radio"]:nth-of-type(4):checked ~  .s2:nth-of-type(5),
input[name="skill-filter-radio"]:nth-of-type(5):checked ~  .s2:nth-of-type(6),
input[name="skill-filter-radio"]:nth-of-type(6):checked ~  .s2:nth-of-type(7),
input[name="skill-filter-radio"]:nth-of-type(7):checked ~  .s2:nth-of-type(8),
input[name="skill-filter-radio"]:nth-of-type(8):checked ~  .s2:nth-of-type(9),
input[name="skill-filter-radio"]:nth-of-type(9):checked ~  .s2:nth-of-type(10),
input[name="skill-filter-radio"]:nth-of-type(10):checked ~  .s2:nth-of-type(11),
input[name="skill-filter-radio"]:nth-of-type(11):checked ~  .s2:nth-of-type(12),
input[name="skill-filter-radio"]:nth-of-type(12):checked ~  .s2:nth-of-type(13),
input[name="skill-filter-radio"]:nth-of-type(13):checked ~  .s2:nth-of-type(14)

{
    display: block;
}



/* Секция обратная связь */
.contact-me{
    position: relative;
    padding: 40px 0;
}
.contact-me__form{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.input-wrapper{
    display: inline-block;
    width: 48%;

}
.input-wrapper.left{
    float: left;
}
.input-wrapper.right{
    float: right;
}
.textarea-wrapper{
    margin-top: 10px;
}
.label{
    position: relative;
    display: flex;
    allign-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}
.label:before{
    content: "";
    position: relative;


    display: inline-flex;
    allign-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center;


}
.label[for="name"]:before{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2376bc21" class="size-6"><path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" /></svg>');
}
.label[for="email"]:before{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2376bc21" class="size-6"><path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" /><path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" /></svg>');
}
.label[for="message"]:before{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2376bc21" class="size-6"><path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" /></svg>');
}
.input, .textarea{
    width: 100%;
    border: none;
    outline: 1px solid var(--color-grey);
}
.input{
    padding: 5px 5px 5px 20px;
}
.textarea{
    padding: 20px;
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
}
.input:focus, .textarea:focus{
    outline: 2px solid var(--color-green);
}
.submit{
    display: block;
    height: 45px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;

    border: none;
    border-radius: 2px;
    background: var(--color-green);
    outline: none;
    box-shadow: none;
    color: #fff;

    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.25s ease;
}
.submit:hover{
    opacity: 1;
}

/* Подвал сайта */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

}
.socials{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.social-element__link{
    width: 25px;
    height: 25px;
}
.footer-about{
        color: var(--color-text);
}
/*Slider*/
.slider{
    position: relative;
    display: flex;
    overflow-x: hidden;
    max-width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.slider__wrapper{
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    min-width: 100%;
    transition: all 0.5s ease;
}
.slider__link{
    flex: 1 1 33%;
}
.slider__image{
    max-width: 250px;
    width: 100%;

}
.slider__input{
    display: none;
}
.slider__controls{
    bottom: 0;
    width: 100%;
    gap: 20px;
    position: absolute;
}
.slider__controls-element{
    display: inline-block;
    width: 40px;
    height: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 8px;
    background: rgb(0 0 0 / 20%);
}
.slider__controls-element:hover,
.slider__input:first-of-type:checked ~ .slider__controls .slider__controls-element:first-of-type,
.slider__input:nth-of-type(2):checked ~ .slider__controls .slider__controls-element:nth-of-type(2),
.slider__input:nth-of-type(3):checked ~ .slider__controls .slider__controls-element:nth-of-type(3),
.slider__input:nth-of-type(4):checked ~ .slider__controls .slider__controls-element:nth-of-type(4),
.slider__input:nth-of-type(5):checked ~ .slider__controls .slider__controls-element:nth-of-type(5) {
    background: var(--color-green);
}
.slider__input:first-of-type:checked ~ .slider__wrapper:first-of-type {
    margin-left: 0;
}
.slider__input:nth-of-type(2):checked ~ .slider__wrapper:first-of-type {
    margin-left: -100%;
}
.slider__input:nth-of-type(3):checked ~ .slider__wrapper:first-of-type {
    margin-left: -200%;
}
.slider__input:nth-of-type(4):checked ~ .slider__wrapper:first-of-type {
    margin-left: -300%;
}
.slider__input:nth-of-type(5):checked ~ .slider__wrapper:first-of-type {
    margin-left: -400%;

}
/*Общие классы*/
.second-title{
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.second-title:after{

    content: "";
    display: inline-block;
    width: 45px;
    height: 2px;
    bottom: -7px;

    background: var(--color-green);
    position: absolute;
    left: calc(50% - 45px / 2 );
}
a.link{
    color: var(--color-green);
    fill: var(--color-green);
    text-decoration: none;
    transition: opacity 0.25s ease;
}
a.link:hover{
    opacity: 0.7;
}
.block-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: 800;
    color: var(--color-text-black);
}
.block{
    display: block;

}
.section-grey{
    background: var(--background-grey);
}
.active{
    color: var(--color-green);
}
.cls{
    clear: both;
}
